@font-face {
    font-family: synetactile;
    src: url(../font/SyneTactile-Regular.ttf);
}

@font-face {
    font-family: public;
    src: url(../font/PublicSans-Regular.ttf);
}

body {
    background-color: white;
    color: black;
}

#grid{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
}

.colonne1{
    font-family: public;
    display: flex;
    position: fixed;
    justify-content: space-between;
    flex-direction: column;
    height: 1fr;
    padding: 25px;
    top: 0;
    bottom: 0;
    left: 0;
}

nav{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.colonne2{
    padding: 50px;
    margin-left: 225px;
    margin-right: 50px;
    margin-top: 0px;
    max-width: 800px;
    line-height: 1.2em;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

h1{
    font-family: synetactile;
    font-size: 60px;
    margin-block-start: -30px;
    display: inline-block;
    margin-bottom: 30px;
    max-width: 600px;
    line-height: 1em;
}

h2 {
    font-family: synetactile;
    text-decoration: underline;
    font-weight: light;
    font-size: 26px;
    margin-block-start: 60px;
    break-before: page;
}

h3 {
    font-family: public;
    font-size: 16px;
    text-decoration: underline;
}

.blocdetexte{
    font-family: public;
    column-count: 1;
    column-gap: 25px;

}

p {
    font-family: public;
    margin-block-start: 0em;
    margin-block-end: 1,5em;
    orphans: 5;
    widows: 5;
    font-size: 16px;
    margin-block-end: 2em;
}

ol{
    margin-block-start: -1em;
    margin-block-end: 2em;
}

blockquote {
    font-family: monospace  ;
    font-style: italic;
    color: #aaaaaa;
}

img {
    width : 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    max-height: 750px;
}







@media (max-width: 800px){
    #grid {
        display: flex;
        flex-direction: column;
    }
    .colonne1 {
        font-family: public;
        display: flex;
        position: relative;
        justify-content: space-between;
        flex-direction: row;
        width: 1fr;
        padding: 25px 25px 100px 25px;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    nav{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .colonne2 {
        flex: 1;
        margin-left: 0;
        margin-right: 0;
        padding: 25px;
    }
}







@page {
    size: 105mm 297mm;
    padding: 12mm;
    /*@bottom-center {
        content: counter(page);
        font-family: public;
      }*/
  }





@media print {
    #grid {
        display: flex;
        flex-direction: row;
    }
    .colonne1 {
        display: none
    }
    body {
        margin: 0;
    }
    .colonne2 {
        flex: none;
        display:block;
        max-width: 100%;
        margin-left: 0;
        margin-right: 0;
        padding: 0px;
    }
    h1 {
        margin-block-start: 0px;
    }
    h2 {
        break-before: page;
    }
    .blocdetexte {
        break-before: page;
        column-count: 1;
        text-align: left;
    }
    .cartographie {
        display: none;
    }
}

