@font-face {
    font-family: synetactile;
    src: url(../font/SyneTactile-Regular.ttf);
}

@font-face {
    font-family: public;
    src: url(../font/PublicSans-Regular.ttf);
}

body {
    background-color: white;
    color: black;
}

#grid{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
}

.colonne1{
    font-family: public;
    display: flex;
    position: fixed;
    justify-content: space-between;
    flex-direction: column;
    height: 1fr;
    padding: 25px;
    top: 0;
    bottom: 0;
    left: 0;
}

nav{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}


a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

img:hover {
    background: #e1e1e1;
    box-shadow: 0 0 0 2px black;
}


#infos {
    max-width: 100%;
    margin-left: 275px;
    margin-right: 0;
    padding: 0px;
}
h1 {
    font-family: synetactile;
    font-size: 60px;
}


#colonne2 {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 1fr;
    max-width: 900px;
    margin-left: 275px;
    margin-right: 50px;
    padding: 0px;
    height: 100%;
    margin-top: 30px;
}

article {
    display: flex;
    flex-direction: row;
    gap: 50px;
    top: 0;
}
  article figure {
    margin-inline: 0px;
    margin-block: 0px;
  }
  article figure img {
    height: 100%;
    min-height: 20vw;
    width: 20vw;
    object-fit: cover;
    align-items: left;
  }
  article header {
    display: flex;
    flex-direction: column;
  }


  h2 {
    font-family: synetactile;
    font-size: 4.5vw;
    margin-block-start: 0px;
    margin-bottom: -10px;
    display: inline-block;
    max-width: 600px;
}

p {
    font-family: public;
    font-size: 16px;
}



@media (max-width: 800px){
    #grid {
        display: flex;
        flex-direction: column;
    }
    .colonne1 {
        font-family: public;
        display: flex;
        position: relative;
        justify-content: space-between;
        flex-direction: row;
        width: 1fr;
        padding: 25px 25px 100px 25px;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    nav{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }


    #colonne2 {
        grid-gap: 50px;
        margin-left: 25px;
        margin-right: 25px;
    }
    
    article {
        flex-direction: column;
        width: 100%;
        gap: 25px;
    }
      article figure {
        margin-inline: 0px;
        margin-block: 0px;
      }
      article figure img {
        height: 300px;
        width: 100%;
        object-fit: cover;
        align-items: left;
      }
      article header {
        display: flex;
        flex-direction: column;
      }
    
    
      h2 {
        font-family: synetactile;
        font-size: 48px;
        margin-block-start: 0px;
        margin-bottom: -10px;
        display: inline-block;
        max-width: 600px;
    }
    
    p {
        font-family: public;
        font-size: 16px;
    }
}